matplotlib==3.3.4
nltk==3.5
numpy==1.20.1
pandas==1.2.3
regex==2021.3.17
scikit-learn==0.22.2
streamlit==0.79.0
textblob==0.15.3
tweet-preprocessor==0.6.0
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
vaderSentiment==3.3.2
wordcloud==1.8.1
wordtodigits==1.0.2
